.choices-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 420px;
  position: relative; /* Add position relative here */
}

.choice-btn {
  display: flex;
  background-color: rgba(94, 197, 238, 0.644);
  border: 2px solid rgb(126, 126, 126); /* consolidated border property */
  border-radius: 10px;
  padding: 10px;
  gap: 20px;
  cursor: pointer; /* Added to indicate it's clickable */
}

.choice-btn:hover {
  background-color: #73ff01;
  color: #000;
}

.details {
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.sous-details {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.choice-label {
  vertical-align: middle;
  font-weight: bold;
  text-transform: capitalize;
}

.popup-image {
  width: 150px;
  height: 150px;

}

.popup-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  margin-left: 40px;
  top: 0; /* Aligns popup to the top of the container */
  width: 200px; /* adjust width as necessary */
  padding: 10px;
  background-color: rgb(12, 17, 63);
  border: 2px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* optional: adds shadow for better visibility */
  z-index: 10; /* Ensure it's above other elements */
}

@media (max-height: 800px) {
  /* your media query styles here */
}
